:root {
  --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gray100: #f2f2f2;
  --gray200: #d9d9d9;
  --gray300: #808080;
  --gray400: #333333;
  --gray500: #262626;
  --gray600: #1a1a1a;
  --gray700: #0d0d0d;
  --purple: #8284fa;
  --purpledark: #5e60ce;
  --blue: #4ea8de;
  --bluedark: #1e6f9f;
  --danger: #e25858;
  --blackshaddow: rgba(0, 0, 0, 0.06);
}

:focus {
  outline: transparent;
}

/* reset */
button {
  all: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start baseline;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--gray600);
  color: var(--gray300);
}

body,
input,
textarea,
button {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 140%;
  font-weight: 400;
}