.tasklist_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    max-width: 46rem;
    margin: 0 auto 4rem;
    padding: 0 1rem;
}

.tasklist_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 20px;
    margin-bottom: 24px;
}

.total_created {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.24rem;
    color: var(--blue);
}

.total_completed {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.24rem;
    color: var(--purple);
}

.bullet {
    padding: 3px 8px 2px 8px;
    background: var(--gray400);
    border-radius: 999px;
    margin: 0 0.5rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: var(--gray200);
}

.tasklist_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 0px;
    align-self: stretch;
}